<div ng-controller="TrendsPageCtrl" class="trends-page-container">

	<div>
		<div class="btn-toolbar row">
			<div class="col-md-12">
				<div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-white btn-lg" ng-model="filter1" btn-radio="'Hour'">
						Hour
					</label>
					<label class="btn btn-white btn-lg" ng-model="filter1" btn-radio="'Day'">
						Day
					</label>
					<label class="btn btn-white btn-lg" ng-model="filter1" btn-radio="'Week'">
						Week
					</label>
					<label class="btn btn-white btn-lg" ng-model="filter1" btn-radio="'Month'">
						Month
					</label>
				</div>
			</div>
		</div>
	</div>	


<!-- First Row -->

	<div class="row">
		<div class="col-lg-4">

			<div class="row counter-buttons">
				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-user"></i>
								</div>
								<strong class="num users-counter">0</strong>
								
								<div class="xe-label">
									<span>Users</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-purple">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-users"></i>
								</div>
								<strong class="num newusers-counter">0</strong>
								
								<div class="xe-label">
									<span>New Users</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-blue">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-heart"></i>
								</div>
								<strong class="num conversion-counter">0</strong>
								
								<div class="xe-label">
									<span>Conversions</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-lg-8 range-chart-container">
			<div class="panel panel-default" style="overflow: hidden">
				<div class="panel-body">	
					<div id="range-1" style="height: 150px; width: 100%; margin-top: -20px"></div>
				</div>
			</div>
		</div>
	</div>

<!-- Second Row -->

	<div class="row">
		<div class="col-lg-4">

			<div class="row counter-buttons">
				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-pink">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-dollar"></i>
								</div>
								<strong class="num cpu-counter">0</strong>
								
								<div class="xe-label">
									<span>Cost per User</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-turquoise">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-dollar"></i>
								</div>
								<strong class="num cpnu-counter">0</strong>
								
								<div class="xe-label">
									<span>Cost per New User</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-orange">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-dollar"></i>
								</div>
								<strong class="num cpc-counter">0</strong>
								
								<div class="xe-label">
									<span>Cost per Conversion</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-lg-8 range-chart-container">
			<div class="panel panel-default" style="overflow: hidden">
				<div class="panel-body">	
					<div id="range-2" style="height: 150px; width: 100%; margin-top: -20px"></div>
				</div>
			</div>
		</div>
	</div>

<!-- Third Row -->


	<div class="row">
		<div class="col-lg-4">

			<div class="row counter-buttons">

				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-yellow">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="linecons-videocam"></i>
								</div>
								<strong class="num ads-counter">0</strong>
								
								<div class="xe-label">
									<span>Ads</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>



				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-danger">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="linecons-money"></i>
								</div>
								<strong class="num budget-counter">$0</strong>
								
								<div class="xe-label">
									<span>Budget</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>


				<div class="col-sm-12">
					
					<div class="xe-widget xe-counter-block xe-counter-info">
						<div class="xe-upper">
							<div class="xe-upper-inner">
								<div class="xe-icon">
									<i class="fa-line-chart"></i>
								</div>
								<strong class="num revenue-counter">$0</strong>
								
								<div class="xe-label">
									<span>Revenue</span>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-lg-8 range-chart-container">
			<div class="panel panel-default" style="overflow: hidden">
				<div class="panel-body">	
					<div id="range-3" style="height: 150px; width: 100%; margin-top: -20px"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Responsive Table -->
<div class="row">
	<div class="col-md-12">
	
		<div class="panel panel-default">
			<div class="panel-body">
				
				<div class="table-responsive" >
				
					<table id="trend_table" cellspacing="0" class="table table-small-font table-bordered table-striped trend-table">
						<thead>
							<tr>
								<th></th>
								<th data-priority="1">Monday</th>
								<th data-priority="2">Tuesday</th>
								<th data-priority="3">Wednesday</th>
								<th data-priority="4">Thursday</th>
								<th data-priority="5">Friday</th>
								<th data-priority="6">Saturday</th>
								<th data-priority="7">Sunday</th>
								<th data-priority="8">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(key, row) in tablerows">
								<th>{{row}}</th>
								<td ng-repeat="cell in tabledataset[key] track by $index" ng-class="{last:$last || $parent.$last}">${{cell}}</td>
							</tr>
						</tbody>
					</table>
				</div>				
			</div>
		</div>
	</div>
</div>

</div>
